* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
    width: 100%;
}

body {
    background-color: rgb(6, 5, 53);
}


#parent {
    height: 200px;
    width: 200px;
    top: 50%;
    left: 50%;
    background-color: skyblue;
    position: absolute;
    transform: translate(-50%,-50%);
}